input {
  display: none;
}

h1 {
  background-color: red;
}

.cards-container {
  margin: 0 auto; 
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  position: relative;
  height: 90vh;
  width: 90vh;
  max-width: 100%;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cards label {

  position: absolute;
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
  height: 100%;
}

.cards .card{
  position: relative;
  height: 100%;
  background-color: #323444;
  border-radius: 10px;
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}



#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
  filter: brightness(0.2);
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
  filter: brightness(0.7);
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #ECEAED;
  filter: brightness(1);
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
  filter: brightness(0.7);
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
  filter: blur(10px);
  filter: brightness(0.2);
}

.card img {
  width: 100%;
  height: 100%;
}

.neko-card .image{
  background-image: url(images/neko.png);
}
.quetzal-card .image{
  background-image: url(images/quetzal.jpg);
}
.sirena-card .image{
  background-image: url(images/sirena.png);
}
.guardian-card .image{
  background-image: url(images/guardian.png);
}
.lobo-card .image{
  background-image: url(images/lobo.png);
}
.anubis-card .image{
  background-image: url(images/anubis.png);
}
.chicasubte-card .image{
  background-image: url(images/chicasubte.jpg);
}
.cthulhu-card .image{
  background-image: url(images/cthulhu.png);
}
.howl-card .image{
  background-image: url(images/howl.png);
}
.rayrossi-card .image{
  background-image: url(images/rayrossi.png);
}

.tren-card .image{
  background-image: url(images/tren.png);
}
.paladin-card .image{
  background-image: url(images/paladin.png);
}

#gallery {
  margin-top: 20vh;
  display: flex;
  width: 100%;
  aspect-ratio: 20/15;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  width: calc(25% - 20px);
  height: calc(33% - 20px);
  transition: 0.2s;
  overflow: hidden;
}

.gallery-item .image, .card .image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  transition: 0.2s;
}

.gallery-item:hover .image{
  scale: 120%;
  cursor: pointer;
}

#poster-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 70%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: top;
  display: none;
}

#close {
  width: 20px;
  height: 20px;
  margin-top: 36px;
  cursor: pointer;
}

#poster {
  height: 90vh;
  width: auto;
  max-width: 90vw;
  margin: 30px;
}
