html {
	scroll-behavior: smooth;
}
a, a:visited, a:active {
  text-decoration: none;
  color: rgb(112, 112, 112);
}

a {
  cursor: pointer;
}

body {
  font-family: Tahoma;
  margin: 3em auto 0;
  position: absolute;
}

header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-weight: 100;
  padding: 0;
  margin: 0;
}



header h1 {
  font-size: 5em;
  margin:0;
  color: rgb(158, 51, 3);
}



.logo {
  width: 200px;
  height: auto;
  margin:0 auto;
  padding:0;
  display:block;
}

#menu-main-button{
  display: none;
}


.menu {
  font-family: bahnschrift;
  font-size: 1.5em;
  top: 30vh;
  margin: 0 auto 2em;
  padding:0;
  height: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.menu li {
  margin: 10px;
  padding: 10px;
}

.menu li a {
  color: rgb(112, 112, 112);
}
.menu li a:hover {
  color: rgb(158, 51, 3);
}

h2 {
  font-family: bahnschrift;
  color: rgb(158, 51, 3);
  border-left: solid  rgb(200, 200, 200) 4px;
  padding: 10px;
}
  
@media only screen and (max-width: 768px) {
  body {
    margin: 1em auto 0;
  }
  
  header h1 {
    font-size: 2em;
  }
  .logo{
    width:100px;
  }

  #menu-main-button {
    border:none;
    background-color: white;
    display: block;
    width: 100%;
    padding: .5em;
    font-family: bahnschrift;
    font-size: 1em;
    color: rgb(80, 80, 80);
  }

  .menu {
    font-size: 1em;
    transition: 0.2s;
    height: 0px;
    overflow: hidden;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
  }
}

#gallery-section { 
  display: flex; 
}

  #gallery-nav {
    position: sticky;
    top: 5em;
    background-color: white;
    z-index: 20;
    font-family: bahnschrift;
    margin:0;
    width: 20%;
    height:100%
  }
  
  #gallery-nav ul {
    text-align: right;
    padding:0;
  }

  li {
    list-style: none;
    display:block;
  }

  a.gallery-nav-button {
    font-size: 2em;
    display: block;
    padding: .3em 0.5em;
    margin: 0.5em;
    color: rgb(112, 112, 112);
  }

  a.gallery-nav-button:hover {
    color: rgb(158, 51, 3);
    cursor: pointer;
  }

  a.gallery-nav-active {
    color: rgb(158, 51, 3);
    border-right: solid rgb(158, 51, 3) 3px;
  }


  .card img {
    width: 100%;
    height: 100%;
  }

  .neko-card .image{
    background-image: url(images/digital/neko.png);
  }
  .quetzal-card .image{
    background-image: url(images/digital/quetzal.png);
  }
  .sirena-card .image{
    background-image: url(images/digital/sirena.png);
  }
  .guardian-card .image{
    background-image: url(images/digital/guardian.png);
  }
  .lobo-card .image{
    background-image: url(images/digital/lobo.png);
  }

  .zorro-card .image{
    background-image: url(images/digital/aaaa.png);
  }

  .trigo-card .image{
    background-image: url(images/digital/trigo.png);
  }
  .telefono-card .image{
    background-image: url(images/digital/telefono.png);
  }
  .cthulhu-card .image{
    background-image: url(images/digital/cthulhu.png);
  }
  .ultima_cancion-card .image{
    background-image: url(images/digital/ultima_cancion.png);
  }
  
  .tren-card .image{
    background-image: url(images/digital/tren.png);
    background-position-x: -180px;
  }
  .paladin-card .image{
    background-image: url(images/digital/paladin.png);
  }
  
  .salon-card .image{
    background-image: url(images/pixel-art/salon.png);
  }

  .dragon-card .image{
    background-image: url(images/pixel-art/dragon.jpg);
  }

  .tetera-card .image{
    background-image: url(images/pixel-art/tetera.png);
  }

  .himeji-card .image{
    background-image: url(images/pixel-art/himeji.png);
  }

  .noctambularia-card .image{
    background-image: url(images/pixel-art/noctambularia.jpg);
  }

  .bitsonia-card .image{
    background-image: url(images/pixel-art/bitsonia.png);
  }

  .dragon-sketch-card .image{
    background-image: url(images/sketch/dragon-sketch.jpg);
  }

  .angel-sketch-card .image{
    background-image: url(images/sketch/angel-sketch.jpg);
  }

  .buho-sketch-card .image{
    background-image: url(images/sketch/buho-sketch.png);
  }

  .parque-sketch-card .image{
    background-image: url(images/sketch/parque-sketch.png);
  }

  .landscape-1-card .image{
    background-image: url(images/sketch/landscape-1.jpg);
  }

  .landscape-2-card .image{
    background-image: url(images/sketch/landscape-2.jpg);
  }

  .ray-rossi-card .image{
    background-image: url(images/sketch/ray-rossi-sketch.png);
  }

  .mouth-sketch-card .image{
    background-image: url(images/sketch/mouth-sketch.jpg);
  }

  .guardian-sketch-card .image{
    background-image: url(images/sketch/guardian-sketch.png);
  }

  .pandora-card .image{
    background-image: url(images/pixel-art/pandora.png);
  }

  .halloween-card .image{
    background-image: url(images/pixel-art/halloween.png);
  }

  .lechuza-sketch-card .image{
    background-image: url(images/sketch/lechuza-sketch.png);
  }



  #pixel-art-gallery {
    display: none;
  }

  #sketchbook-gallery {
    display: none;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0 1em;
    width: 60%;
    border-top: solid rgb(200, 200, 200) 4px;
    border-bottom: solid rgb(200, 200, 200) 4px;
  }
  
  .gallery-item {
    width: calc(33% - 20px);
    aspect-ratio: 1;
    transition: 0.2s;
    overflow: hidden;
    margin: 10px 0;
  }
  
  .gallery-item .image, .image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    transition: 0.2s;
  }
  
  .gallery-item:hover .image{
    scale: 120%;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    #gallery-section { 
      display: block;
      margin: 0 auto; 
    }

    .gallery {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      justify-content: space-evenly;
    }

    #gallery-nav {
      width: 100%;
      top: 0px;
    }

    #gallery-nav ul {
      display:flex;
      padding:0;
      font-size: 0.5em;
      margin: 0 auto;
      justify-content: space-around;
    }    

    .gallery-item {
      width: calc(50% - 20px);
    }

    a.gallery-nav-active {
      border-right: none;
    }
    
  }


  #poster-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(76, 76, 76, 90%);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: top;
    display: none;
    z-index:30;
  }
  
  #close {
    width: 20px;
    height: 20px;
    margin-top: 36px;
    cursor: pointer;
  }
  
  #poster {
    height: 90vh;
    width: auto;
    max-width: 90vw;
    margin: 30px;
    object-fit: contain;
  }


.content-section{
  width:60%;
  color:rgb(80, 80, 80);
  margin: 7em auto 5em;
  font-size: 1.1em;
}


  #about {
  display: flex;

  }
  
  #about-text {
    width:75%;
  }

  #photo {
    background-image: url(images/other/foto.jpg);
    width:25%;
    aspect-ratio: 1/1;
    background-position-y: 15%;
    margin: 1em;
  }

  

  .social {
    margin: 10px 10px 0 0;
    width: 24px;
    height: 24px;
  }

  #contact-me {
  margin: 7em auto 5em;
  }

  footer {
    margin: 2em
  }

  @media only screen and (max-width: 768px) {
    .content-section {
      margin:5em auto;
      width:100%;
      max-width: 100%;
    }

    #close{
      position: absolute;
      top: 10px;
      right: 20px;
    }

    
    #photo {
      width: 50%;
      margin: 1em auto;
    }

    #about {
      flex-wrap: wrap;
    }

    #about-text{
      width: 100%;
      padding: 1em;
    }

    #contact-me {
      margin: 7em auto 5em;
    }

    #contact-text{
      padding: 1em;
    }
  }
  
  